<h2>Channels </h2>

<% if @channels.present? %>
  <% @channels.each do |channel| %>
    <% if channel.users.include? current_user %>
      <h3>Go to channel: <%= link_to channel.name, channel_path(channel), class: "btn" %></h3>
    <% else %>
      <h3><%= button_to 'Join', channel_join_path(channel), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn--success" %></h3>
    <% end %>
  <% end %>
<% else %>
  <h3>No channels found. Please create a new channel</h3>
<% end %>
